*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    width: 100%;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    all: unset;
    padding: 20px 0px 0px 0px;
    border-bottom: 1px solid black;
    text-align: center;
}

input::placeholder{
    text-align: center;
    font-weight: bold;
    font-family: monospace;
}

button{
    padding: .625rem 1.875rem;
    margin-top: 1.25rem;
    border-radius: .625rem;
    border: none;
    background-color: rgb(132, 172, 245); 
    color: white;
    font-weight: bold;
}

button:hover{
    background-color: rgb(118, 163, 247); 
    color: rgb(219, 217, 217);
}